<div class="sidebar-container">
  <div class="site-logo">
    <img
      src="../../../../assets/img/vegetable-logo-removebg-.png"
      alt="vegetable-food"
      sizes="100"
      class="img-fluid"
      srcset=""
    />
  </div>
  <div class="side-content">
    <ul>
      <li routerLink="admin">
        <span><fa-icon [icon]="faHome" size="xl"></fa-icon></span>
        <span>home</span>
      </li>
      <li routerLink="users">
        <span><fa-icon [icon]="faUsers" size="xl"></fa-icon></span>
        <span>users</span>
      </li>
      <li routerLink="category">
        <span><fa-icon [icon]="faTree" size="xl"></fa-icon></span>
        <span>category</span>
      </li>
      <li routerLink="products">
        <span><fa-icon [icon]="faBox" size="xl"></fa-icon></span>
        <span>products</span>
      </li>
      <li routerLink="cards">
        <span><fa-icon [icon]="faShop" size="xl"></fa-icon></span>
        <span>cards</span>
      </li>
      <li routerLink="brands">
        <span><fa-icon [icon]="faCoffee" size="xl"></fa-icon></span>
        <span>brands</span>
      </li>
      <li routerLink="payments">
        <span><fa-icon [icon]="faMoneyBill" size="xl"></fa-icon></span>
        <span>payments</span>
      </li>
      <li routerLink="ratings">
        <span><fa-icon [icon]="faStar" size="xl"></fa-icon></span>
        <span>rating</span>
      </li>
      <li routerLink="review">
        <span><fa-icon [icon]="faEye" size="xl"></fa-icon></span>
        <span>review</span>
      </li>
      <li routerLink="orders">
        <span><fa-icon [icon]="faPerson" size="xl"></fa-icon></span>
        <span>orders</span>
      </li>
      <li routerLink="offers">
        <span><fa-icon [icon]="faFontAwesomeFlag" size="xl"></fa-icon></span>
        <span>offers</span>
      </li>
      <li routerLink="comments">
        <span><fa-icon [icon]="faComment" size="xl"></fa-icon></span>
        <span>comments</span>
      </li>
      <li routerLink="city">
        <span><fa-icon [icon]="faCity" size="xl"></fa-icon></span>
        <span>city</span>
      </li>
      <li routerLink="calculator">
        <span><fa-icon [icon]="faCalculator" size="xl"></fa-icon></span>
        <span>calculator</span>
      </li>
      <li routerLink="buyers">
        <span><fa-icon [icon]="faJetFighter" size="xl"></fa-icon></span>
        <span>buyers</span>
      </li>
      <li routerLink="blogs">
        <span><fa-icon [icon]="faNewspaper" size="xl"></fa-icon></span>
        <span>blogs</span>
      </li>
      <li routerLink="wishlist">
        <span><fa-icon [icon]="faHeart" size="xl"></fa-icon></span>
        <span>wishlist</span>
      </li>
      <li routerLink="stocks">
        <span><fa-icon [icon]="faStore" size="xl"></fa-icon></span>
        <span>stock</span>
      </li>
      <li routerLink="logout">
        <span><fa-icon [icon]="faLockOpen" size="xl"></fa-icon></span>
        <span>logout</span>
      </li>
      <li>
        <span><fa-icon [icon]="faOutdent" size="xl"></fa-icon></span>
        <span>settings</span>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="dropdownId"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </li>
    </ul>
  </div>
</div>
