<div class="home-page">
  <div class="container">
    <div class="home_content">
      <div class="sales_report">
        <div class="report_wrapper">
          <div class="report_box">
            <div class="content">
              <h3>293</h3>
              <h4>daily signup</h4>
            </div>
            <div class="icon">
              <fa-icon [icon]="faPerson" [size]=""></fa-icon>
            </div>
          </div>
          <div class="report_box">
            <div class="content">
              <h3>593</h3>
              <h4>daily visitor</h4>
            </div>
            <div class="icon">
              <fa-icon [icon]="faTimeline" [size]=""></fa-icon>
            </div>
          </div>
          <div class="report_box">
            <div class="content">
              <h3>593</h3>
              <h4>daily orders</h4>
            </div>
            <div class="icon">
              <fa-icon [icon]="faBoxArchive" [size]=""></fa-icon>
            </div>
          </div>
          <div class="report_box">
            <div class="content">
              <h3>593</h3>
              <h4>daily revenue</h4>
            </div>
            <div class="icon">
              <fa-icon [icon]="faDollarSign" [size]=""></fa-icon>
            </div>
          </div>
        </div>
        <div class="chart-wrapper" id="main">
        <div class="chart shadow">
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
          <div class="chart-item">
            <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="200" alt="" srcset="">
          </div>
        </div>
        </div>
        <div class="recent-order-section my-3 py-3">
          <div class="order-table shadow-sm p-2">
            <h3 class="text-left text-uppercase py-4"> recent order table</h3>
            <table class="table">
              <thead class="thead-light shadow-sm">
                <tr>
                  <th scope="col" class="text-capitalize">order ID</th>
                  <th scope="col" class="text-capitalize">product name</th>
                  <th scope="col" class="text-capitalize">unit</th>
                  <th scope="col" class="text-capitalize">order date</th>
                  <th scope="col" class="text-capitalize">order cost</th>
                  <th scope="col" class="text-capitalize">category</th>
                  <th scope="col" class="text-capitalize">order status</th>
                  <th scope="col" class="text-capitalize">action</th>
                </tr>
                <tr>                  
                <select name="date" id="" class="form-control">
                    <option value="0">12-21-120</option>
                    <option value="0">12-21-120</option>
                    <option value="0">12-21-120</option>
                    <option value="0">12-21-120</option>
                    <option value="0">12-21-120</option>
                    <option value="0">12-21-120</option>
                    <option value="0">12-21-120</option>
                  </select>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">233</th>
                  <td>Larry</td>
                  <td>unit 2</td>
                  <td>12-20-2022</td>
                  <td class="badge badge-success p-1 m-1">$100</td>
                  <td>electric</td>
                  <td><span class="badge badge-success">completed</span></td>
                  <td>
                    <span class="badge badge-success mx-2 p-1" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <span class="badge badge-danger mx-2 p-1" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">233</th>
                  <td>Larry</td>
                  <td>unit 2</td>
                  <td>12-20-2022</td>
                  <td class="badge badge-success p-1 m-1">$100</td>
                  <td>electric</td>
                  <td><span class="badge badge-success">completed</span></td>
                  <td>
                    <span class="badge badge-success mx-2 p-1" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <span class="badge badge-danger mx-2 p-1" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>
                 
                <tr>
                  <th scope="row">233</th>
                  <td>Larry</td>
                  <td>unit 2</td>
                  <td>12-20-2022</td>
                  <td class="badge badge-success p-1 m-1">$100</td>
                  <td>electric</td>
                  <td><span class="badge badge-success">completed</span></td>
                  <td>
                    <span class="badge badge-success mx-2 p-1" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <span class="badge badge-danger mx-2 p-1" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>
                 
                <tr>
                  <th scope="row">233</th>
                  <td>Larry</td>
                  <td>unit 2</td>
                  <td>12-20-2022</td>
                  <td class="badge badge-success p-1 m-1">$100</td>
                  <td>electric</td>
                  <td><span class="badge badge-success">completed</span></td>
                  <td>
                    <span class="badge badge-success mx-2 p-1" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <span class="badge badge-danger mx-2 p-1" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>
                 
                <tr>
                  <th scope="row">233</th>
                  <td>Larry</td>
                  <td>unit 2</td>
                  <td>12-20-2022</td>
                  <td class="badge badge-success p-1 m-1">$100</td>
                  <td>electric</td>
                  <td><span class="badge badge-success">completed</span></td>
                  <td>
                    <span class="badge badge-success mx-2 p-1" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <span class="badge badge-danger mx-2 p-1" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>
                 
                <tr>
                  <th scope="row">233</th>
                  <td>Larry</td>
                  <td>unit 2</td>
                  <td>12-20-2022</td>
                  <td class="badge badge-success p-1 m-1">$100</td>
                  <td>electric</td>
                  <td><span class="badge badge-success">completed</span></td>
                  <td>
                    <span class="badge badge-success mx-2 p-1" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <span class="badge badge-danger mx-2 p-1" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>
                 
                <tr>
                  <th scope="row">233</th>
                  <td>Larry</td>
                  <td>unit 2</td>
                  <td>12-20-2022</td>
                  <td class="badge badge-success p-1 m-1">$100</td>
                  <td>electric</td>
                  <td><span class="badge badge-success">completed</span></td>
                  <td>
                    <span class="badge badge-success mx-2 p-1" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <span class="badge badge-danger mx-2 p-1" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>
                 
                <tr>
                  <th scope="row">233</th>
                  <td>Larry</td>
                  <td>unit 2</td>
                  <td>12-20-2022</td>
                  <td class="badge badge-success p-1 m-1">$100</td>
                  <td>electric</td>
                  <td><span class="badge badge-success">completed</span></td>
                  <td>
                    <span class="badge badge-success mx-2 p-1" style="cursor: pointer;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    <span class="badge badge-danger mx-2 p-1" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </td>
                </tr>
               </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 shadow-sm">
            <h4 class="text-left text-capitalize">new customer table</h4>
            <div class="customer-item d-flex p-2 my-4">
              <div class="c-left">
                <img src="../../../../assets/img/female.png" width="80" alt="">
              </div>
              <div class="c-right d-flex" style="justify-content: space-between; width: 100%;">
                <div class="c-1 px-2">
                  <span class="name" style="font-size:20px;text-transform: capitalize;">omar faruque</span><br>
                  <span class="" style="font-size:14px ;">@omar faruque</span>
                </div>
                <div class="c-2" style="vertical-align: middle; margin-top: 10px;padding-right: 5px;">
                  <span style="font-size:17px ;">2order</span>
                  <span style="font-size:17px ;margin-left:15px;" class="badge badge-success p-1">$234</span>
                </div>
              </div>
            </div>
            <div class="customer-item d-flex shadow-sm p-2 my-4">
              <div class="c-left">
                <img src="../../../../assets/img/female.png" width="80" alt="">
              </div>
              <div class="c-right d-flex" style="justify-content: space-between; width: 100%;">
                <div class="c-1 px-2">
                  <span class="name" style="font-size:20px;text-transform: capitalize;">omar faruque</span><br>
                  <span class="" style="font-size:14px ;">@omar faruque</span>
                </div>
                <div class="c-2" style="vertical-align: middle; margin-top: 10px;padding-right: 5px;">
                  <span style="font-size:17px ;">2order</span>
                  <span style="font-size:17px ;margin-left:15px;" class="badge badge-success p-1">$234</span>
                </div>
              </div>
            </div>
            <div class="customer-item d-flex shadow-sm p-2 my-4">
              <div class="c-left">
                <img src="../../../../assets/img/female.png" width="80" alt="">
              </div>
              <div class="c-right d-flex" style="justify-content: space-between; width: 100%;">
                <div class="c-1 px-2">
                  <span class="name" style="font-size:20px;text-transform: capitalize;">omar faruque</span><br>
                  <span class="" style="font-size:14px ;">@omar faruque</span>
                </div>
                <div class="c-2" style="vertical-align: middle; margin-top: 10px;padding-right: 5px;">
                  <span style="font-size:17px ;">2order</span>
                  <span style="font-size:17px ;margin-left:15px;" class="badge badge-success p-1">$234</span>
                </div>
              </div>
            </div>
            <div class="customer-item d-flex shadow-sm p-2 my-4">
              <div class="c-left">
                <img src="../../../../assets/img/female.png" width="80" alt="">
              </div>
              <div class="c-right d-flex" style="justify-content: space-between; width: 100%;">
                <div class="c-1 px-2">
                  <span class="name" style="font-size:20px;text-transform: capitalize;">omar faruque</span><br>
                  <span class="" style="font-size:14px ;">@omar faruque</span>
                </div>
                <div class="c-2" style="vertical-align: middle; margin-top: 10px;padding-right: 5px;">
                  <span style="font-size:17px ;">2order</span>
                  <span style="font-size:17px ;margin-left:15px;" class="badge badge-success p-1">$234</span>
                </div>
              </div>
            </div>
            <div class="customer-item d-flex shadow-sm p-2 my-4">
              <div class="c-left">
                <img src="../../../../assets/img/female.png" width="80" alt="">
              </div>
              <div class="c-right d-flex" style="justify-content: space-between; width: 100%;">
                <div class="c-1 px-2">
                  <span class="name" style="font-size:20px;text-transform: capitalize;">omar faruque</span><br>
                  <span class="" style="font-size:14px ;">@omar faruque</span>
                </div>
                <div class="c-2" style="vertical-align: middle; margin-top: 10px;padding-right: 5px;">
                  <span style="font-size:17px ;">2order</span>
                  <span style="font-size:17px ;margin-left:15px;" class="badge badge-success p-1">$234</span>
                </div>
              </div>
            </div>
            <div class="customer-item d-flex shadow-sm p-2 my-4">
              <div class="c-left">
                <img src="../../../../assets/img/female.png" width="80" alt="">
              </div>
              <div class="c-right d-flex" style="justify-content: space-between; width: 100%;">
                <div class="c-1 px-2">
                  <span class="name" style="font-size:20px;text-transform: capitalize;">omar faruque</span><br>
                  <span class="" style="font-size:14px ;">@omar faruque</span>
                </div>
                <div class="c-2" style="vertical-align: middle; margin-top: 10px;padding-right: 5px;">
                  <span style="font-size:17px ;">2order</span>
                  <span style="font-size:17px ;margin-left:15px;" class="badge badge-success p-1">$234</span>
                </div>
              </div>
            </div>

          </div>
          <!-- top product code here -->
          <div class="col-md-6 shadow-sm">
            <h4 class="text-left text-capitalize">top product</h4>
            <div class="top-product d-flex my-4 ">
              <div class="p-left">
                <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="130" alt="">
              </div>
              <div class="p-right pl-2">
                <div style="justify-content:space-between;">
                  <span style="font-size:20px;text-transform: capitalize; padding-bottom:10px ;margin-bottom: 10px;">tomato</span>
                  <span style="margin-left: 30px; float: right;text-transform: capitalize;">sales 50</span>
                </div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Vitae est nesciunt, impedit...
                </p>
                <span><del>$400</del><span class="ml-3">$3000</span></span>
              </div>
            </div>

            <div class="top-product d-flex my-4 shadow-sm">
              <div class="p-left">
                <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="130" alt="">
              </div>
              <div class="p-right pl-2">
                <div style="justify-content:space-between;">
                  <span style="font-size:20px;text-transform: capitalize; padding-bottom:10px ;margin-bottom: 10px;">tomato</span>
                  <span style="margin-left: 30px; float: right;text-transform: capitalize;">sales 50</span>
                </div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Vitae est nesciunt, impedit...
                </p>
                <span><del>$400</del><span class="ml-3">$3000</span></span>
              </div>
            </div>
            <div class="top-product d-flex my-4 shadow-sm">
              <div class="p-left">
                <img src="../../../../assets/img/fruits-vegetables-15528773.jpg" width="130" alt="">
              </div>
              <div class="p-right pl-2">
                <div style="justify-content:space-between;">
                  <span style="font-size:20px;text-transform: capitalize; padding-bottom:10px ;margin-bottom: 10px;">tomato</span>
                  <span style="margin-left: 30px; float: right;text-transform: capitalize;">sales 50</span>
                </div>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Vitae est nesciunt, impedit...
                </p>
                <span><del>$400</del><span class="ml-3">$3000</span></span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
