<div class="container">
  <div class="users-page">
    <h4 class="text-left text-uppercase">create new users</h4>
    <div class="user-content">
      <div class="form-box shadow-sm p-3">
        <form #formValue="ngForm" (ngSubmit)="ButtonHandle(formValue.value)">
          <div class="form-group">
            <label for="exampleFormControlInput1">username</label>
            <input
              ngModel
              name="name"
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Please Enter Your Name"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input
              ngModel
              name="email"
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Please Enter Your Email"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">address</label>
            <input
              ngModel
              name="address"
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Please Enter Your Address"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Phone</label>
            <input
              ngModel
              type="phone"
              name="phone"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Please Enter Your Phone Number"
            />
          </div>
          <!-- <input type="text" ngModel name="user_type" hidden value="1"/> -->
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Your City</label>
            <select
              ngModel
              name="city"
              class="form-control"
              id="exampleFormControlSelect1"
            >
              <option value="4">1</option>
              <option value="4">2</option>
              <option value="4">3</option>
              <option value="4">4</option>
              <option value="4">5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">
              Select Your State
            </label>
            <select
              ngModel
              name="state"
              class="form-control"
              id="exampleFormControlSelect2"
            >
              <option value="1">1</option>
              <option value="1">2</option>
              <option value="1">3</option>
              <option value="1">4</option>
              <option value="1">5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">
              Select Your type
            </label>
            <select
              ngModel
              name="user_type"
              class="form-control"
              id="exampleFormControlSelect2"
            >
              <option value="3">1</option>
              <option value="3">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">
              select Status
            </label>
            <select
              ngModel
              name="status"
              class="form-control"
              id="exampleFormControlSelect2"
            >
              <option value="1">Active</option>
              <option value="0">InActive</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea
              ngModel
              name="desc"
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Please Enter Your Bio"
            ></textarea>
          </div>
          <div class="form-group shadow-sm">
            <label for="Upload" class="btn btn-success">Upload</label>
            <input
              ngModel
              name="image"
              type="file"
              hidden
              class="form-control"
              id="Upload"
            />
            <img src="" class="p-2 shadow-sm img-fluid" alt="" />
          </div>
          <div class="form-group shadow-sm"></div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <!--****************************************************************************user data table **********************************-->
      <!--****************************************************************************user data table **********************************-->
      <!--****************************************************************************user data table **********************************-->
      <!--****************************************************************************user data table **********************************-->
      <!--****************************************************************************user data table **********************************-->
      <!--****************************************************************************user data table **********************************-->
      <!--****************************************************************************user data table **********************************-->
      <!--****************************************************************************user data table **********************************-->
      <div class="container-xl shadow-sm mt-3 p-3">
        <div class="table-responsive">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-5">
                  <h2>
                    User
                    <b>Management</b>
                  </h2>
                </div>
                <div class="col-sm-7">
                  <a href="#" class="btn btn-secondary">
                    <i class="material-icons">&#xE147;</i>
                    <span>Add New User</span>
                  </a>
                  <a href="#" class="btn btn-secondary">
                    <i class="material-icons">&#xE24D;</i>
                    <span>Export to Excel</span>
                  </a>
                </div>
              </div>
            </div>
            <table class="table table-striped success table-hover">
              <thead>
                <tr>
                  <th>image</th>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>type</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of GetAllUsers.GetAll" itemid="i">
                  <td>
                    <img
                      src="{{ item.Image }}"
                      width="80"
                      class="rounded shadow-sm"
                      alt="Avatar"
                    />
                  </td>
                  <td>04/10/2013</td>
                  <td>{{ item.Name }}</td>
                  <td>{{ item.Email }}</td>
                  <td>{{ item.Phone }}</td>
                  <td>{{ item.Address }}</td>
                  <td>America</td>
                  <td>{{ item.State }}</td>
                  <td>{{ item.user_type }}</td>
                  <td>
                    <ng-container *ngIf="item.Status == 1; else elseTemplate">
                      <span class="badge badge-success">Active</span>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <span class="badge badge-danger">InActive</span>
                    </ng-template>
                  </td>
                  <td class="d-flex">
                    <span class="p-1 mx-1 badge badge-success">
                      <i
                        style="font-size: 20px; cursor: pointer;"
                        class="fa fa-pencil"
                        aria-hidden="false"
                      ></i>
                    </span>
                    <span class="p-1 mx-1 badge badge-danger">
                      <i
                        style="font-size: 20px; cursor: pointer;"
                        class="fa fa-trash"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="clearfix">
              <div class="hint-text">
                Showing
                <b>5</b>
                out of
                <b>25</b>
                entries
              </div>
              <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active">
                  <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item">
                  <a href="#" class="page-link">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
