<div class="container">
    <div class="users-page">
      <div class="user-content">
        <div class="form-box shadow-sm p-3">
          <h1 class="text-left text-uppercase">add new product</h1>
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">username</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Please Enter Your Name"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
             <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Please Enter Your Email"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">address</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Please Enter Your Address"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Phone</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Please Enter Your Phone Number"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Select Your City</label>
              <select
                name="city"
                class="form-control"
                id="exampleFormControlSelect1"
              >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">
                Select Your State
              </label>
              <select class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">
                Select Your type
              </label>
              <select class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">
                select Status
              </label>
              <select class="form-control" id="exampleFormControlSelect2">
                <option value="1">Active</option>
                <option value="0">InActive</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                placeholder="Please Enter Your Bio"
              ></textarea>
            </div>
            <div class="form-group shadow-sm">
              <label for="Upload" class="btn btn-success">Upload</label>
              <input type="file" hidden class="form-control" id="Upload" />
              <img src="" class="p-2 shadow-sm img-fluid" alt="" />
            </div>
            <div class="form-group shadow-sm">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
  <!--****************************************************************************user data table **********************************-->
  <!--****************************************************************************user data table **********************************-->
  <!--****************************************************************************user data table **********************************-->
  <!--****************************************************************************user data table **********************************-->
  <!--****************************************************************************user data table **********************************-->
  <!--****************************************************************************user data table **********************************-->
  <!--****************************************************************************user data table **********************************-->
  <!--****************************************************************************user data table **********************************-->
        <div class="container-xl shadow-sm mt-3 p-3">
          <div class="table-responsive">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-md-12">
                    <h2>
                      User
                      <b>Management</b>
                    </h2>
                  </div>
                  <!-- <div class="col-md-12">
                    <a href="#" class="btn btn-secondary">
                      <i class="material-icons">&#xE147;</i>
                      <span>Add New User</span>
                    </a>
                    <a href="#" class="btn btn-secondary">
                      <i class="material-icons">&#xE24D;</i>
                      <span>Export to Excel</span>
                    </a>
                  </div> -->
                </div>
              </div>
              <table class="table table-striped success table-hover">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Image_Arr</th>
                   <th>Author</th>
                   <th>Brand</th>
                   <th>Buyer</th>
                   <th>Category</th>
                   <th>City</th>
                   <th>Color</th>
                   <th>Comment</th>
                   <th>CreateAt</th>
                   <th>Delivery_Time</th>
                   <th>Desc</th>
                   <th>Discount</th>
                   <th>Import_Date</th>
                   <th>In_Stock</th>
                   <th>Is_Available</th>
                   <th>Is_Date_Over</th>
                   <th>Is_Pesticid</th>
                   <th>Is_Sold</th>
                   <th>Is_Valid</th>
                   <th>Location</th>
                   <th>Name</th>
                   <th>Offer</th>
                   <th>Old_Price</th>
                   <th>Price</th>
                   <th>Rating</th>
                   <th>Review</th>
                   <th>Video</th>
                   <th>Weight</th>
                   <th>Status</th>
                   <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of All_Product.GetAll">
                    <td>
                      <img
                        src="{{item.Image}}"
                        width="80"
                        class="rounded"
                        alt="Avatar"
                      />
                    </td>
                    <td><img src="{{item.Image_Arr}}" width="80"
                      class="rounded"
                      alt="Avatar" alt=""></td>
                    <td>{{item.Author}}</td>
                    <td>{{item.Brand}}</td>
                    <td>{{item.Buyer}}</td>
                    <td>{{item.Category}}</td>
                    <td>{{item.City}}</td>
                    <td>{{item.Color}}</td>
                    <td>{{item.Comment}}</td>
                    <td>{{item.CreateAt}}</td>
                    <td>{{item.Delivery_Time}}</td>
                    <td>{{item.Desc | slice:0:5}}</td>
                    <td>{{item.Discount}}</td>
                    <td>{{item.Import_Date}}</td>
                    <td>{{item.In_Stock}}</td>
                    <td>{{item.Is_Available}}</td>
                    <td>{{item.Is_Date_Over}}</td>
                    <td>{{item.Is_Pesticid}}</td>
                    <td>{{item.Is_Sold}}</td>
                    <td>{{item.Is_Valid}}</td>
                    <td>{{item.Location}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Offer}}</td>
                    <td>{{item.Old_Price}}</td>
                    <td>{{item.Price}}</td>
                    <td>{{item.Rating}}</td>
                    <td>{{item.Review}}</td>
                    <td>{{item.Video}}</td>
                    <td>{{item.Weight}}</td>
                    <td>
                      <ng-container *ngIf="item.Status==1; else elseTemplate">
                        <span class="badge badge-success">Active</span>
                      </ng-container>
                      <ng-template #elseTemplate>
                        <span class="badge badge-danger">InActive</span>
                      </ng-template>
                    </td>
                    <td class="d-flex">
                      <span style="cursor: pointer;" class="badge mx-2 badge-success"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                      <span style="cursor: pointer;" class="badge mx-2 badge-danger"><i class="fa fa-trash" aria-hidden="true"></i></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="clearfix">
                <div class="hint-text">
                  Showing
                  <b>5</b>
                  out of
                  <b>25</b>
                  entries
                </div>
                <ul class="pagination">
                  <li class="page-item disabled"><a href="#">Previous</a></li>
                  <li class="page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item active">
                    <a href="#" class="page-link">3</a>
                  </li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item">
                    <a href="#" class="page-link">Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  